<!DOCTYPE html>
<html>
  <head>
    <title>Ask the Audience</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/script.js"></script>
  </head>
  <body>
    <h1>Ask the Audience</h1>
    {{{body}}}
  </body>
</html>